<%- include('partials/header'); %>
  
    <!-- Section 1 -->
    <div style="background-image: url('/car-accidents.webp');" class="container-fluid bg-cover bg-no-repeat bg-center py-40 relative">
        <div class="absolute h-full w-full top-0 left-0" style="background:rgba(0,0,0,0.5)"></div>
            <h2 class="text-5xl font-bold text-white text-center relative z-30">Car Accident Loans or Accident Lawsuit Funding?</h2>
       </div>
    
       <!-- Section 2 -->
       <div class="container-fluid bg-white pt-10 pb-48">
        <div class="mx-auto text-center flex justify-center">
            <p class="text-mainColor text-3xl lg:w-2/3">Car accident lawsuit funding can ease your financial burden. Unlike a car accident settlement loan, it’s risk-free!</p>
        </div>
        <div class="container mx-auto py-10 lg:flex lg:justify-around">
            <div class="w-full lg:w-1/2 py-10 px-10">
                <p><span class="font-bold">Car accident lawsuit funding</span>, often incorrectly referred to as “car accident settlement loans,” can help you pay your bills and make purchases.<br><br>
    
                    We know car accident personal injury cases bring additional expenses and lost wages and that bills go up, not down, during a pending car accident lawsuit.<br><br>
    
                    That’s why at Express Legal Funding, we make our car accident lawsuit funding fast and more affordable!<br><br>
                    
                    So you can get the car wreck cash relief you need now, and your accident attorney can keep fighting for your car crash settlement.</p>
            </div>
            <div class="w-full lg:w-1/2 py-10 px-10">
                <p>Unlike lawsuit loans, legal funding on your case isn’t dependent on your credit score. So you don’t have to worry or even think about a bad credit score making your interest rates go up.<br><br>
    
                    Plus, pre-settlement funding is a totally non-recourse cash advance on your case’s future settlement or court award; you never have to pay out of your pocket—no going into added debt.<br><br>
                    
                    Just like your attorney and law firm hired on a contingency fee, we don’t get paid back unless you settle or win your case! Call your team at Express Legal Funding today at (888) 232-9223 or apply online for fast lawsuit cash financial relief. We make it easy and are here to help!</p>
            </div>
        </div>
       </div>
    
       <!-- Section 3 -->
       <div class="container-fluid relative bg-gray-100 pt-28 pb-12">
        <div class="w-full mx-auto flex justify-center items-center absolute  -top-[6%] sm:-top-[7%] md:-top-[12%] lg:-top-[40%]">
            <img src="/money-3-1024x334.png.webp" alt="" class="">
       </div>
       <div class="container mx-auto lg:flex lg:justify-around">
        <div class="w-full lg:w-1/2 py-10 px-12">
            <h4 class="text-mainColor font-bold text-3xl">Car Accident Injury Cases We Fund</h4>
            <p class="text-lg py-5">We can provide lawsuit funding for all types of personal injury and civil lawsuit cases. If you are reading this right now and seeking money for your injuries and damages that another person or company caused, you are qualified to apply for legal funding on your case anytime.<br><br>
    
                You can use any computer or mobile device with internet access to apply for a lawsuit cash advance. Or give us a call 24/7, day or night. The choice is yours!<br><br>
                
                We can advance you anywhere between <span class="font-medium">$550 to $500,000</span> in cash depending on the value of your case.</p>
        </div>
        <div class="w-full lg:w-1/2 py-10 px-12 flex justify-between">
            <ul class="list-disc text-lg text-mainColor leading-10 w-1/2">
                <li>Car accidents</li>
                <li>18-wheeler accidents</li>
                <li>Motorcycle accidents</li>
                <li>Pedestrian accident injuries</li>
                <li>Bicycle accident injuries</li>
                <li>Bus accidents</li>
                <li>Wrongful death</li>
                <li>Oilfield explosions</li>
                <li>Food poisoning</li>
            </ul>
            <ul class="list-disc text-lg text-mainColor leading-10 w-1/2">
                <li>Car accidents</li>
                <li>18-wheeler accidents</li>
                <li>Motorcycle accidents</li>
                <li>Pedestrian accident injuries</li>
                <li>Bicycle accident injuries</li>
                <li>Bus accidents</li>
                <li>Wrongful death</li>
                <li>Oilfield explosions</li>
                <li>Food poisoning</li>
            </ul>
        </div>
       </div>
        </div>
    
        <!-- Section 4 -->
        <div class="container-fluid bg-mainColor">
            <div class="container mx-auto py-20 text-center">
                <p class="text-2xl italic px-10 text-white">Unsure you qualify for an auto accident settlement advance? Give us a call to discuss your options. <span class="font-bold">(888) 232-9223</span></p>
            </div>
        </div>
    
        <!-- Section 5 -->
        <div class="container-fluid bg-gray-100">
            <div class="container mx-auto py-20 text-left">
                <h3 class="text-mainColor text-5xl font-bold py-10">Get More Car Accident Lawsuit Funding</h3>
                <p class="text-2xl italic px-10">You can get approved for more auto accident lawsuit funding as your case evolves. That is typically the more affordable way to get a cash advance on your car accident case from us, and not all at once. Less interest over time. So you can get more money from your settlement or trial award. <br><br>
    
                    Plus, you can use car accident lawsuit funding for anything you want except to pay for your auto accident case costs. Most clients use the legal funding for the cost of their daily living and monthly bills. Lawsuit accident funding on your case can give you new options and room to breathe.</p>
            </div>
        </div>
    
        <!-- Section 6 -->
        <div class="container-fluid bg-white py-16">
            <h2 class="text-mainColor text-center font-bold text-5xl">Car Accident Lawsuit Advance FAQs</h2>
            <div class="container lg:px-44 mx-auto px-5">
                <h2 class="text-mainColor font-bold text-5xl pt-10">Are car accident loans regulated?</h2>
                <p class="mt-10 font-medium text-lg">Yes, but be careful. For car accident loans to be regulated, they must be actual loans lent out to you by a licensed lender. In the United States, only licensed lenders can provide consumer credit loans, and each state is unique in how they oversee them.<br><br>
    
                    In the few states with policies regulating lawsuit loans, the authorized lenders agree to strict laws and oversight. The main purpose of these laws is to make sure each of those states’ residents is treated fairly. We can give loans for car accident lawsuits in Missouri, as we are licensed to do so. Most companies are not. So please be cautious.</p>
                
                <h2 class="text-mainColor font-bold text-5xl mt-20">Is a car accident loan actually a loan?</h2>
                <p class="mt-10 font-medium text-lg">Yes, a car accident loan is actually a loan in several US states. However, for most people, it is a risk-free cash advance against any potential settlement or proceeds of the case.<br><br>
        
                        Repayment is contingent upon the existence of your case’s settlement or trial money. So if you lose and don’t receive a settlement or court award, you are not required to repay any of the amount advanced to you.<br><br>
    
                        Unfortunately, the word loan is used fraudulently by most companies as these funds are not loans by law. They are not subject to lending laws except in a select few states.</p>
    
                <h2 class="text-mainColor font-bold text-5xl mt-20">Can car accident lawsuit funding help me get a larger settlement?</h2>
                <p class="mt-10 font-medium text-lg">Yes! Getting car accident lawsuit funding on your case can help you and your attorney secure a more fair and larger settlement. The point is car accident lawsuit funding can allow you to survive financially while your attorney continues to fight for justice on your financial behalf.<br><br>
            
                    Plus, you can get even more accident settlement money now and later by choosing Express Legal Funding and our low car accident lawsuit funding rates.</p>    
    
                <h2 class="text-mainColor font-bold text-5xl mt-20">How much do car accident loans cost?</h2>
                <p class="mt-10 font-medium text-lg">The cost of a car accident lawsuit loan should be easy to understand as lawsuit loans need to have a Federal Truth in Lending Act (TILA) section in the contract. However, that is not the case with car accident lawsuit funding since it’s not a lawsuit loan and should not be viewed as one.<br><br>
            
                    To find out how much an auto accident loan will cost you after one year, just read the Federal Truth in Lending Act Section in the loan contract. The TILA can not apply to car accident lawsuit funding as it is not a credit product.</p>
    
                <h2 class="text-mainColor font-bold text-5xl mt-20">How is car accident lawsuit funding better than a car accident loan?</h2>
                <p class="mt-10 font-medium text-lg">Yes! Car accident lawsuit funding is a superior option to car accident loans for injured plaintiffs and their attorneys in the non-loan states where it is allowed by law. </p> <br>
                <ol class="list-decimal text-lg px-14">
                    <li>Car accident lawsuit funding is a non-recourse advance. Meaning it can not make you go into debt or destroy your credit.</li> <br>
                    <li>Car accident funding is not dependent on your credit score or legal status. So you don’t have to worry about a bad credit score making your interest rates go up. </li> <br>
                    <li>Most importantly, car accident lawsuit funding is a risk-free cash advance and not a loan, so you don’t need to come up with the money yourself to pay off the debt. </li> <br>
                    <li>Just like your attorney and law firm you hired on a contingency fee basis, we don’t get paid unless you win or settle your car accident lawsuit case! </li>
                </ol>
                <h2 class="text-mainColor font-bold text-5xl mt-20">How to qualify for a car accident settlement loan?</h2>
                <p class="mt-10 font-medium text-lg">The qualifications for car accident settlement loans are a lot like those of car accident legal funding. There is only one small but essential difference people in car wreck cases need to know.</p> 
    
                <h2 class="text-mainColor font-bold text-3xl mt-20">One difference between a car accident loan and car accident lawsuit funding is based on where you live.</h2>
                <ol class="list-decimal text-lg px-14 mt-5">
                    <li>To get a car accident settlement loan, you must live in one of the few states where car wreck cases’ only legal finance option is car accident settlement loans. For example, in Missouri, you can only legally get a consumer pre-settlement loan from a company licensed by the Missouri Division of Finance.</li> <br>
                </ol>
    
                <h2 class="text-mainColor font-bold text-3xl mt-20">The two main qualifiers for car accident lawsuit funding:</h2>
                <ol class="list-decimal text-lg px-14 mt-5">
                    <li>You’re owed money for the injuries and damages caused in a car accident that was someone else’s fault and not your own.</li> <br>
                    <li>You hired a car wreck attorney on a contingency fee basis, meaning your attorney only gets paid when you win or settle your case. This is a type of guarantee.</li> <br>
                </ol>
                <p class="mt-10 font-medium text-lg">Once you meet all three of these conditions, you have an excellent chance of getting approved for a car accident settlement loan as soon as our team speaks to your attorney or law firm case manager and they give us the info we need to make an underwriting decision. <br><br>
    
                    The last part of the underwriting decision is out of our hands. It comes down to whether or not your lawyer will sign the Attorney Acknowledgement. Most lawyers do, so that’s not an issue. By signing it, they acknowledge that they represent you and will follow your Irrevocable Letter of Directions on how to repay the car accident loan at the end of your case. <br><br>
                    
                    We can not fund or loan money to our clients without their attorney’s signed acknowledgment. Likewise, you should never accept help from a company that says they will do otherwise and still fund or loan you money on your car accident case. <br><br>
                    
                    Going down an unknown legal path alone, without professional legal help, is never a good idea. Anytime you enter into a legally binding contract, you want advice from an attorney and not solely rely on trusting the company with a financial interest in the deal. </p> 
    
                <h2 class="text-mainColor font-bold text-5xl mt-20">Can I qualify for car accident lawsuit funding if I don’t have a job?</h2>
                <p class="mt-10 font-medium text-lg">Yes! We don’t even require you to provide us with any of your current or past job histories. We make it easy, so you don’t have to worry—no rising rates—just one low fixed rate from day one. <br>
                    No collateral. No proof of employment. Risk-free. That’s how the best car accident lawsuit funding companies should be!</p> 
            </div>
        </div>
    
        <!-- Section 7 -->
       <div style="background-image: url('/auto-accidents.webp');" class="container-fluid py-32 bg-cover bg-no-repeat bg-center relative">
        <div class="absolute h-full w-full top-0 left-0" style="background:rgba(0,0,0,0.5)"></div>
        <div class="container mx-auto relative z-40 text-center">
            <h2 class="text-white text-6xl font-bold">Cash relief now.</h2>
            <div class="w-full container mx-auto lg:flex lg:justify-center px-4 mt-3">
                <button class="bg-mainColor text-white text-xl font-bold rounded-full w-full lg:w-2/12 lg:mr-2 mb-2 py-3 lg:px-16 duration-300 hover:bg-white hover:text-black">Call Now</button>
                <button class="bg-mainColor text-white text-xl font-bold rounded-full w-full lg:w-2/12 lg:ml-2 mb-2 py-3 lg:px-16 duration-300 hover:bg-white hover:text-black">Apply Online</button>
            </div>
        </div>
       </div> 
    
<%- include('partials/registrationForm'); %>

<%- include('partials/footer'); %>