
      <%- include('partials/header'); %>

      <div class="container mx-auto my-20">
            <div class="w-full text-center">
                <h2 class="text-5xl font-semibold pb-5 px-5">Financial freedom for all</h2>
                <p class="text-lg xl:text-2xl font-normal px-5">Whether you’re owed money — or you owe money — we have a solution to help.</p>
            </div>
            <div class="xl:flex xl:justify-between mt-10">
                <div class="bg-white py-10 px-10 shadow-2xl transition-all duration-500 hover:-translate-y-4 hover:bg-hoverblockColor mb-5 xl:mb-0 xl:w-6/12 xl:mr-5">
                    <img src="/3_StructuredSettlements.png.webp" alt="">
                    <h3 class="text-2xl font-semibold pb-5">I was awarded a settlement</h3>
                    <p class="text-lg font-normal pb-5">One benefit of having a structured settlement is that you get long-term financial security in the form of a reliable stream of income. Even better, as the recipient of a structured settlement, you have the right to sell part or all of your overall payment stream in exchange for a lump sum—and that’s where JG Wentworth can help.</p>
                    <button class="font-normal border-black border-b-2 hover:border-mainColor">About Structured Settlement <i class="fa-solid fa-arrow-right"></i></button>
                </div>
                <div class="bg-white py-10 px-10 shadow-2xl transition-all duration-500 hover:-translate-y-4 hover:bg-hoverblockColor xl:w-6/12 xl:ml-5">
                    <img src="/4_DebtRelief.png.webp" alt="">
                    <h3 class="text-2xl font-semibold pb-5">I was awarded a settlement</h3>
                    <p class="text-lg font-normal pb-5">One benefit of having a structured settlement is that you get long-term financial security in the form of a reliable stream of income. Even better, as the recipient of a structured settlement, you have the right to sell part or all of your overall payment stream in exchange for a lump sum—and that’s where JG Wentworth can help.</p>
                    <button class="font-normal border-black border-b-2 hover:border-mainColor">About Structured Settlement <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
      
      
      <%- include('partials/footer'); %>
