<%- include('partials/header'); %>

    <!-- Section 1 -->
    <div style="background-image: url('/slip-and-fall-legal-funding.webp');" class="container-fluid bg-cover bg-no-repeat bg-center py-40 relative">
        <div class="absolute h-full w-full top-0 left-0" style="background:rgba(0,0,0,0.5)"></div>
            <h2 class="text-5xl font-bold text-white text-center relative z-30">Slip and Fall Legal Funding</h2>
       </div>
    
       <!-- Section 2 -->
       <div class="container-fluid bg-white pt-10 pb-48">
        <div class="mx-auto text-center flex justify-center">
            <p class="text-mainColor text-3xl lg:w-2/3">Legal funding for your slip and fall accident case can ease your financial burden. Unlike a slip and fall accident loan, it’s risk-free!</p>
        </div>
        <div class="container mx-auto py-10 lg:flex lg:justify-around">
            <div class="w-full lg:w-1/2 py-10 px-10">
                <p>Slip and fall accident funding, often incorrectly referred to as “slip and fall accident loans,” can help you pay your bills and make new purchases. We know that no matter your unique financial situation, injuries bring additional expenses and lost wages.<br><br>
    
                    That’s why we make slip and fall legal funding fast and more affordable! So you can get the cash you need now, and your attorney can keep fighting for slip and fall injury settlement.</p>
            </div>
            <div class="w-full lg:w-1/2 py-10 px-10">
                <p>Unlike personal injury lawsuit loans, personal injury legal funding isn’t a credit based loan of any type. Meaning we do not consider or need to pull your credit history. So you don’t have to worry about a bad credit score making your interest rates go up.<br><br>
    
                    Slip and fall lawsuit funding is risk-free cash; no out-of-pocket payments—no going into debt. Just like your lawyer hired on a contingency fee basis, we make nothing unless you settle or win! Call us at (888) 232-9223 or apply online to get financial relief today.</p>
            </div>
        </div>
       </div>
    
        <!-- Section 3 -->
        <div class="container-fluid relative bg-gray-100 pt-28 pb-12">
            <div class="w-full mx-auto flex justify-center items-center absolute  -top-[6%] sm:-top-[7%] md:-top-[12%] lg:-top-[30%]">
                <img src="/money-3-1024x334.png.webp" alt="" class="">
           </div>
           <div class="container mx-auto lg:flex lg:justify-around">
            <div class="w-full lg:w-1/2 py-10 px-12">
                <h4 class="text-mainColor font-bold text-3xl">Slip and Fall Cases We Fund</h4>
                <p class="text-lg py-5">We can provide lawsuit funding for all types of personal injury and civil lawsuit cases. If you are reading this right now and seeking money for your injuries and damages that another person or company caused, you are qualified to apply for legal funding on your case anytime.<br><br>
    
                    You can use any computer or mobile device with internet access to apply for a lawsuit cash advance. Or give us a call 24/7, day or night. The choice is yours!<br><br>
                    
                    We can advance you anywhere between <span class="font-medium">$550 to $500,000</span> in cash depending on the value of your case.</p>
            </div>
            <div class="w-full lg:w-1/2 py-10 px-12 flex justify-between">
                <ul class="list-disc text-lg text-mainColor leading-10 w-1/2">
                    <li>Car accidents</li>
                    <li>18-wheeler accidents</li>
                    <li>Motorcycle accidents</li>
                    <li>Pedestrian accident injuries</li>
                    <li>Bicycle accident injuries</li>
                    <li>Bus accidents</li>
                    <li>Wrongful death</li>
                    <li>Oilfield explosions</li>
                    <li>Food poisoning</li>
                </ul>
                <ul class="list-disc text-lg text-mainColor leading-10 w-1/2">
                    <li>Car accidents</li>
                    <li>18-wheeler accidents</li>
                    <li>Motorcycle accidents</li>
                    <li>Pedestrian accident injuries</li>
                    <li>Bicycle accident injuries</li>
                    <li>Bus accidents</li>
                    <li>Wrongful death</li>
                    <li>Oilfield explosions</li>
                    <li>Food poisoning</li>
                </ul>
            </div>
           </div>
       </div>
    
        <!-- Section 4 -->
        <div class="container-fluid bg-mainColor">
            <div class="container mx-auto py-20 text-center">
                <p class="text-2xl italic px-10 text-white">If you’re not sure if your case qualifies for legal funding, give us a call to discuss your options. <span class="font-bold"> (888) 232-9223</span></p>
            </div>
        </div>
    
    <!-- Section 5 -->
    <div class="container-fluid bg-white py-12">
        <div class="container mx-auto px-12 lg:px-44">
            <h6 class="text-lg font-bold text-mainColor py-5 px-5 bg-slate-100">Can I qualify for legal funding if I don’t have a job?</h6>
            <p class="text-lg">Yes! At Express Legal Funding we don’t even require you to provide us with any of your current or past job histories. We make it easy, so you don’t have to worry—no rising rates—just one low fixed rate from day one. No collateral. No proof of employment. Risk-free. The way legal funding should be!</p>
            <hr>
            <br>
            <h6 class="text-lg font-bold text-mainColor py-5 px-5 bg-slate-100">Are lawsuit cash advances better than personal injury lawsuit loans?</h6>
            <br>
            <p class="text-lg">Yes! Personal injury lawsuit funding is a superior cash advance option to injury lawsuit loans for injured plaintiffs and attorneys. That’s because injury lawsuit funding is non-recourse in Texas. Meaning unlike a personal injury loan that’s repaid at the end of your case, it’s not dependent on your credit score or legal status. <br><br>
    
                Remember, with Express Legal Funding, personal injury lawsuit funding is non-recourse funding. So you can recover from your accident’s injuries, and you can work with your attorney to keep adding value to your case.</p>
            <hr><br>
            <h6 class="text-lg font-bold text-mainColor py-5 px-5 bg-slate-100">Can I win a larger injury settlement amount by getting a cash advance on my case?</h6>
            <p class="text-lg">Yes, you can! Getting a pre-settlement cash advance for your personal injury case can help you, and your lawyer gain a more fair and more large settlement. <br><br>
    
                Injury lawsuit funding is there designed to help you financially survive while your attorney continues to fight for justice on your behalf. Plus, you can get even more money from your case now and later by choosing Express Legal Funding and our low and fair rates.</p>
            <hr><br>
            <span class="text-sm">Express Legal Funding is a lower cost pre-settlement funding company. We do our best not to misrepresent our financial services and products as pending lawsuit loans or settlement loans near me. Many pre-settlement funding companies choose to represent themselves falsely as “best lawsuit loan companies.” We are not a pending settlement loans company in Texas, enabling us to provide risk-free and non-recourse legal funding to the consumer.</span>
    
        </div>
    </div>
    
        <!-- Section 6 -->
       <div style="background-image: url('/slip-and-fall-legal-funding.webp');" class="container-fluid py-32 bg-cover bg-no-repeat bg-center relative">
        <div class="absolute h-full w-full top-0 left-0" style="background:rgba(0,0,0,0.5)"></div>
        <div class="container mx-auto relative z-40 text-center">
            <h2 class="text-white text-6xl font-bold">Cash relief now.</h2>
            <div class="w-full container mx-auto lg:flex lg:justify-center px-4 mt-3">
                <button class="bg-mainColor text-white text-xl font-bold rounded-full w-full lg:w-2/12 lg:mr-2 mb-2 py-3 lg:px-16 duration-300 hover:bg-white hover:text-black">Call Now</button>
                <button class="bg-mainColor text-white text-xl font-bold rounded-full w-full lg:w-2/12 lg:ml-2 mb-2 py-3 lg:px-16 duration-300 hover:bg-white hover:text-black">Apply Online</button>
            </div>
        </div>
       </div>
    
<%- include('partials/registrationForm'); %>

<%- include('partials/footer'); %>